.posts {
  padding-bottom: 40px;
  .post_title,
  .post_category {
    font-family: "Microsoft JhengHei";
  }
  .post_title {
    line-height: normal;
  }
  .post_category {
    padding: 7px 0;
    line-height: 30px;
  }
  .post_title {
    font-size: 30px;
    color: #316588;
  }
  .post_content {
    font-size: 20px;
  }
}
@media only screen and (max-width: 930px) {
  .posts {
    .post_title {
      font-size: 25px;
    }
    .post_content {
      font-size: 17px;
    }
  }
}
